{% extends 'dashboard/../base/home.html' %}
{% block body %}
<body>

<!-- Header -->
<header>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar con texto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Características</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Precios</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a href="{% url 'dashboard' %}">
                        Dashboard
                    </a>

                  </span>
            </div>
        </div>
    </nav>
</header>
<div class="container p-2">
    <div class="row row-cols-1 row-cols-lg-2 p-2">
        {% block content %}

        <ul>
            <h2>Reservaciones</h2>
            <li><a href="{% url 'reservaciones_gastronomicas' %}">Gastronomicas</a></li>
            <li><a href="#">Alojamiento</a></li>
            <li><a href="#">Transporte</a></li>
        </ul>

        {% endblock %}
    </div>
</div>

<!-- Block javascript -->
{% block javascript %}

{% endblock %}
</body>
{% endblock %}